<div id="edai_course_generator_form" class="container">
    <form>
        <div class="form-group position-relative mb-0">
            <label for="course_description" class="d-none"></label>
            <textarea id="course_description"
                      name="course_description"
                      class="form-control px-6"
                      style="overflow-y: hidden; resize:none;"
                      placeholder="{{#str}} course_description_placeholder, local_edai_course_generator_client {{/str}}"
            ></textarea>
            <button id="generate_course"
                    class="btn btn-secondary btn-circle position-absolute text-white"
                    style="right: 10px; top: 50%; transform: translateY(-50%); width: 35px; height: 35px; border-radius: 50%; padding: 0;"
                    title="{{#str}} generate, local_edai_course_generator_client {{/str}}"
            >
                <img src="{{config.wwwroot}}/local/edai_course_generator_client/img/logo_edunao.webp"
                     alt="Logo"
                     style="width: 32px; height: 32px;"
                >
            </button>
            <label for="course_files" class="position-absolute" style="left: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;">
                <i class="fa fa-paperclip fa-2x"></i>
            </label>
            <input type="file" id="course_files" name="course_files[]" class="form-control d-none" multiple>
        </div>
        <div id="file_names" class="mt-1"></div>
    </form>

    <div id="loader" class="d-none justify-content-center align-items-center mt-5">
        <div class="spinner-border text-primary" role="status"></div>
        <span class="ml-3">{{#str}} loading, local_edai_course_generator_client {{/str}}</span>
    </div>
    <div id="success_message_container" class="d-none justify-content-center align-items-center mt-5"></div>
</div>
