<div class="alert alert-info" role="alert">
    {{#str}} course_creation_success, local_edai_course_generator_client {{/str}} <a href="{{globals.config.wwwroot}}/course/view.php?id={{courseid}}" target="_blank">{{#str}} course_creation_redirection, local_edai_course_generator_client {{/str}}</a>
</div>
